.header {
    display: flex; 
    align-items: center;
    padding: 20px;
}

.icon {
    color: #E12D62;
    font-size: 2.5rem;
    margin-right: 1%; 
}

.title {
    color: #FFFFFF; 
    font-size: 1.5rem;
}