.app-container {
  background-color: #002856;
  min-height: 100vh;
}

.centered-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tile-container {
  background-color: #198DAE;
  width: 85vw;
  height: 100vh;
  margin-top: 40px;
  border-radius: 2%; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
